
@inject IUserLoginServices UserLoginServices
@inject NavService NavService
@inject NavigationManager Navigation
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">EconomizzeHybrid</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        @foreach (var item in NavService.NavItems.Where(i => i.IsVisible))
        {
            <div class="nav-item px-3">
                
                    
                <NavLink class="nav-link" href="@item.Url">
                    <span class="@item.Icon-nav-menu" aria-hidden="true"></span> @item.Text
                </NavLink>

                
            </div>
        }
    </nav>
</div>

@code {
    protected override void OnInitialized()
    {
        NavService.OnChange += StateHasChanged;
    }

    private void LogOut()
    {
        UserLoginServices.LogOut();
        NavService.OnChange -= StateHasChanged;
    }
}
