@page "/Sair"
@attribute [StreamRendering]

@inject IUserLoginServices UserLoginServices
@inject NavigationManager NavigationManager
@inject ICacheServices CacheServices
@inject NavService NavService

<div class="d-flex justify-content-center">
    <div hidden="@hideLoad" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>


