@page "/Sair"
@attribute [StreamRendering]

@inject IUserLoginServices UserLoginServices
@inject NavigationManager NavigationManager
@inject ICacheServices CacheServices
@inject NavService NavService

<div class="d-flex justify-content-center">
    <div hidden="@hideLoad" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

@code {
    private bool hideLoad = false;

    protected override async Task OnInitializedAsync()
    {

        await Task.Delay(100);
        await UserLoginServices.LogOut();
        await CacheServices.LogOut();
        await NavService.RemoveNavItem("Sair");
        hideLoad = false;
        NavigationManager.NavigateTo("login");

    }

}
