
@inject IAddressServices AddressServices
@inject NavigationManager NavigationManager


<h4>Buscar Cep</h4>

@if (zipCode is not null)
{
    <EditForm FormName="SearchZipCode" Model="zipCode" OnValidSubmit="BuscarCep">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <InputText placeholder="Entrar Cep" @bind-Value="zipCode.ZipCode" />
        <div class="col">
            <ValidationMessage For="() => zipCode.ZipCode"></ValidationMessage>
        </div>
        <div class="d-flex justify-content-start align-items-center mt-3">
            <button type="submit" class="btn btn-primary">Buscar Cep</button>
            <span style="@GetStyle()" class="alert alert-warning ml-3 mb-0" role="alert">
                <p style="@(AddressServices.isError ? "color:#410E0E;" : "color:#0E4129;")">@Message</p>
            </span>
        </div>
    </EditForm>
    <br />
}
else
{
    <p><em>Loading...</em></p>
}


