
@inject IAddressServices AddressServices
@inject NavigationManager NavigationManager


<h3>Buscar Cep</h3>

<EditForm FormName="SearchZipCode" Model="address" OnValidSubmit="BuscarCep">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <InputText placeholder="Entrar Cep" @bind-Value = "address.ZipCode" />
    <div class="col">
        <ValidationMessage For="() => address.ZipCode"></ValidationMessage>
    </div>
    <button type="submit" class="btn btn-primary">Buscar Cep</button>
    
</EditForm>

@code {

    [Parameter]
    public EventCallback OnSuccess { get; set; }
    private AddressModel? address { get; set; } = new();
    string cep = string.Empty;

    private async Task BuscarCep()
    {
        if (string.IsNullOrWhiteSpace(address.ZipCode))
        {
            return;
        }
        await AddressServices.SearchZipCodeAsync(address.ZipCode);
        if (AddressServices.CurrentAddress is not null)
        {
            await OnSuccess.InvokeAsync();
        }
    }
}
